body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* INICIO NAVBAR */
  .container {
    width: 80%;
    margin: auto;
    display: flex;
  }
  
  .header {
    border-bottom: 3px solid #FF0000;
  }
  
  .header .container {
    justify-content: space-between;
  }
  
  .header a {
    text-decoration: none;
    color: #FFFFF0;
  }

  .titulo {
    color: #FFFFF0;
    width: fit-content;
  }
  
  .navbar {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #FF0000;
    font-size: 20px;
  }
  
  /* FIM  NAVBAR */

  /* INICIO INFO */
  .slogan {
    width: 100%;
    height: 600px;
    display: flex;
  }
  
  .banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .banner .img {
    width: 80%;
    align-items: center;
    margin-top: 20px;
  }

  .banner .titulo{
    width: 20%;
    font-size: 40px;
  }
  /* FIM INFO */