/* CORES */
/*  Cinza = #929292 
    CinzaClaro #E7EAD9
    Vermelho #B52B2B
    Branco #FFFFFF
    Preto #000000 */
/* CORES */

/* FONTES */
  @font-face {
    font-family: Roboto;
    src: url(fontes/Roboto-Regular.ttf);
  }
/* FONTES */


body {
  margin: 0;
  padding: 0;    
  background-color: #929292;
  font-family: Roboto;
}
  
  /* INICIO NAVBAR */
  .header {
    height: 60px;
    border-bottom: 3px solid #B52B2B;
  }
  
  .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  
  .header .container .titulo {
    color: #FFFFFF;
  }
  
  .navbar {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
    color: #FFFFFF;
  }

  .local {
    color: #B52B2B;
  }
  /* FIM  NAVBAR */


  /* INICIO BANNER HOME*/
  .slogan {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .slogan .gif {
    width: 500px;
  }

  .slogan .titulo {
    color: #FFFFFF;
  }
  /* FIM BANNER HOME*/


  /* INICIO INFO HOME*/
  .infos {
    background-color: #FFFFFF;
  }

  .infos .container {
    display: flex;
    flex-direction: column;
  }

  .infos .titulo {
    display: flex;
    justify-content: center;
    color: #B52B2B;
    font-style: italic;
  }
  
  .infos .boxes {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
  }

  .infos .box {
    margin: 50px;
    width: 30%;
    height: 200px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  
  .infos .texto {
    font-size: 20px;
  }
  
  .espaco_botao {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .espaco_botao .texto {
    font-style: italic;
  }

  .botao {
    width: 300px;
    border: 3px solid #000000;
    border-radius: 20px;
    background-color: #B52B2B;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
  }
  /* FIM INFO HOME*/

  /* INICIO CADASTRO E LOGIN */
  .banner2 {
    height: 91vh;
    background-image: url(img/Carros.png);    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
  }

  .banner2 .container {
    display: flex;
    justify-content: center;
  }
  
  .formulario {
    margin-top: 30px;
    width: 38%;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .formulario .box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    width: 80%;
    height: 60px;
    border-radius: 30px;
  }

  .formulario .titulo {
    margin-top: 20px;
    text-align: center;
    width: 70%;
    font-size: 25px;
    color: #B52B2B;
  }

  .formulario .subtitulo {
    font-size: 20px;
    color: #000000;
  }

  .formulario .input {
    text-align: center;
    width: 60%;
    font-size: 20px;
  }
  
  .formulario .link {
    font-size: 18px;
    color: #929292;
  }

  .box .botao {
      width: 80px;
      border: 3px solid #000000;
      border-radius: 20px;
      background-color: #B52B2B;
      color: #FFFFFF;
      font-size: 10px;
      text-align: center;
  }

  /* FIM CADASTRO E LOGIN*/
